<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="rootLogLevel" source="root.logging.level"
        defaultValue="info"></springProperty>
	<springProperty scope="context" name="ziraLogLevel" source="zira.logging.level"
        defaultValue="debug"/>
        
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<logger name="ba.com.zira" level="${ziraLogLevel}"/>
	<root level="${rootLogLevel}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>